In [111]:
%%capture
%run main.ipynb

from mesa.batchrunner import batch_run
import pandas as pd

-----

### Batch Run

### AB networks - simple model

In [81]:
#AB graphs
seed = 1234
iters = 1
steps = 50
strategies = [[0.2 for i in range(steps + 1)],
              [0.5 for i in range(steps + 1)],
              [0.8 for i in range(steps + 1)]]
n = 1000
k = 50

G = nx.barabasi_albert_graph(n = n, m = round(k/2), seed = seed)

params = {
    "G": [G],
    "mu": [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
    "s": [1/100, 1/10, 1/2, 1, 5, 10, 100],
    "strategy": strategies
    }

br = batch_run(
    iModel_list,
    params,
    iterations = iters,
    data_collection_period = 5,
    max_steps = steps
)

  0%|          | 0/189 [00:00<?, ?it/s]

c:\Users\sdifi\OneDrive - Università Commerciale Luigi Bocconi\Uni_Bocconi\SimulationModeling_2024\Project\.venv\Lib\site-packages\mesa\agent.py:52: FutureWarning: The Mesa Model class was not initialized. In the future, you need to explicitly initialize the Model by calling super().__init__() on initialization.
  self.model.register_agent(self)
c:\Users\sdifi\OneDrive - Università Commerciale Luigi Bocconi\Uni_Bocconi\SimulationModeling_2024\Project\.venv\Lib\site-packages\networkx\algorithms\assortativity\correlation.py:282: RuntimeWarning: invalid value encountered in scalar divide
  r = (t - s) / (1 - s)

In [82]:
br = pd.DataFrame(br)

In [100]:
br

,RunId,iteration,Step,G,mu,s,strategy,Assortativity,Average degree,links removed,AgentID,Opinion,Exposition
0,0,0,0,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",0.1,0.01,"[0.2, 0.2, 0.2, 0.2, 0.2, 0.2, 0.2, 0.2, 0.2, ...",NaN,48.75,[],0,5.411778e-152,0.000000
1,0,0,0,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",0.1,0.01,"[0.2, 0.2, 0.2, 0.2, 0.2, 0.2, 0.2, 0.2, 0.2, ...",NaN,48.75,[],1,5.297761e-23,0.000000
2,0,0,0,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",0.1,0.01,"[0.2, 0.2, 0.2, 0.2, 0.2, 0.2, 0.2, 0.2, 0.2, ...",NaN,48.75,[],2,3.511030e-263,0.000000
3,0,0,0,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",0.1,0.01,"[0.2, 0.2, 0.2, 0.2, 0.2, 0.2, 0.2, 0.2, 0.2, ...",NaN,48.75,[],3,0.000000e+00,0.000000
4,0,0,0,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",0.1,0.01,"[0.2, 0.2, 0.2, 0.2, 0.2, 0.2, 0.2, 0.2, 0.2, ...",NaN,48.75,[],4,7.127674e-264,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2078995,188,0,50,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",0.9,100.00,"[0.8, 0.8, 0.8, 0.8, 0.8, 0.8, 0.8, 0.8, 0.8, ...",NaN,48.75,[],210,9.005764e-01,0.900576
2078996,188,0,50,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",0.9,100.00,"[0.8, 0.8, 0.8, 0.8, 0.8, 0.8, 0.8, 0.8, 0.8, ...",NaN,48.75,[],381,9.005764e-01,0.900576
2078997,188,0,50,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",0.9,100.00,"[0.8, 0.8, 0.8, 0.8, 0.8, 0.8, 0.8, 0.8, 0.8, ...",NaN,48.75,[],703,9.005764e-01,0.900576
2078998,188,0,50,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",0.9,100.00,"[0.8, 0.8, 0.8, 0.8, 0.8, 0.8, 0.8, 0.8, 0.8, ...",NaN,48.75,[],131,9.005764e-01,0.900576
2078999,188,0,50,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",0.9,100.00,"[0.8, 0.8, 0.8, 0.8, 0.8, 0.8, 0.8, 0.8, 0.8, ...",NaN,48.75,[],598,9.005764e-01,0.900576

In [101]:
df = br.copy()
df = df.drop("G", axis = 1)
df["strategy"] = [v[0] for v in df["strategy"]]
df.to_csv("df_ab_n1000_k500_v1.csv")

-------

### ER networks - simple model

In [105]:
#ER graphs
seed = 1234
iters = 1
steps = 50
strategies = [[0.2 for i in range(steps + 1)],
              [0.5 for i in range(steps + 1)],
              [0.8 for i in range(steps + 1)]]

n = 1000
k = 50

G = nx.erdos_renyi_graph(n = n, p = k/(n-1), seed = seed)

params = {
    "G": [G],
    "mu": [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
    "s": [1/100, 1/10, 1/2, 1, 5, 10, 100],
    "strategy": strategies
    }

br = batch_run(
    iModel_list,
    params,
    iterations = iters,
    data_collection_period = 5,
    max_steps = steps
)

  0%|          | 0/189 [00:00<?, ?it/s]

c:\Users\sdifi\OneDrive - Università Commerciale Luigi Bocconi\Uni_Bocconi\SimulationModeling_2024\Project\.venv\Lib\site-packages\mesa\agent.py:52: FutureWarning: The Mesa Model class was not initialized. In the future, you need to explicitly initialize the Model by calling super().__init__() on initialization.
  self.model.register_agent(self)
c:\Users\sdifi\OneDrive - Università Commerciale Luigi Bocconi\Uni_Bocconi\SimulationModeling_2024\Project\.venv\Lib\site-packages\networkx\algorithms\assortativity\correlation.py:282: RuntimeWarning: invalid value encountered in scalar divide
  r = (t - s) / (1 - s)

In [106]:
br = pd.DataFrame(br)

In [107]:
br

,RunId,iteration,Step,G,mu,s,strategy,Assortativity,Average degree,links removed,AgentID,Opinion,Exposition
0,0,0,0,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",0.1,0.01,"[0.2, 0.2, 0.2, 0.2, 0.2, 0.2, 0.2, 0.2, 0.2, ...",NaN,50.036,[],0,1.827150e-63,0.000000
1,0,0,0,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",0.1,0.01,"[0.2, 0.2, 0.2, 0.2, 0.2, 0.2, 0.2, 0.2, 0.2, ...",NaN,50.036,[],1,8.685920e-01,0.000000
2,0,0,0,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",0.1,0.01,"[0.2, 0.2, 0.2, 0.2, 0.2, 0.2, 0.2, 0.2, 0.2, ...",NaN,50.036,[],2,1.314618e-314,0.000000
3,0,0,0,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",0.1,0.01,"[0.2, 0.2, 0.2, 0.2, 0.2, 0.2, 0.2, 0.2, 0.2, ...",NaN,50.036,[],3,2.173848e-25,0.000000
4,0,0,0,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",0.1,0.01,"[0.2, 0.2, 0.2, 0.2, 0.2, 0.2, 0.2, 0.2, 0.2, ...",NaN,50.036,[],4,0.000000e+00,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2078995,188,0,50,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",0.9,100.00,"[0.8, 0.8, 0.8, 0.8, 0.8, 0.8, 0.8, 0.8, 0.8, ...",NaN,50.036,[],348,9.007576e-01,0.900758
2078996,188,0,50,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",0.9,100.00,"[0.8, 0.8, 0.8, 0.8, 0.8, 0.8, 0.8, 0.8, 0.8, ...",NaN,50.036,[],87,9.007576e-01,0.900758
2078997,188,0,50,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",0.9,100.00,"[0.8, 0.8, 0.8, 0.8, 0.8, 0.8, 0.8, 0.8, 0.8, ...",NaN,50.036,[],951,9.007576e-01,0.900758
2078998,188,0,50,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",0.9,100.00,"[0.8, 0.8, 0.8, 0.8, 0.8, 0.8, 0.8, 0.8, 0.8, ...",NaN,50.036,[],550,9.007576e-01,0.900758
2078999,188,0,50,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",0.9,100.00,"[0.8, 0.8, 0.8, 0.8, 0.8, 0.8, 0.8, 0.8, 0.8, ...",NaN,50.036,[],784,9.007576e-01,0.900758

In [108]:
df = br.copy()
df = df.drop("G", axis = 1)
df["strategy"] = [v[0] for v in df["strategy"]]
df.to_csv("df_er_n1000_k500_v1.csv")

-------

### AB networks - extended model

Here, we use the variant of the model where the external agent can target nodes on the basis of their position quantile.

In [113]:
#AB graphs
seed = 1234
iters = 1
steps = 100
strategies = [[0.5 for i in range(steps + 1)]]
n = 400
k = 20

G = nx.barabasi_albert_graph(n = n, m = round(k/2), seed = seed)

params = {
    "G": [G],
    "mu": [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
    "s": [1/100, 1/10, 1/2, 1, 5, 10, 100],
    "strategy": strategies,
    "quantile": [0.3, 0.5, 0.7],
    "contrast": [True, False]
    }

br = batch_run(
    iModel2_list,
    params,
    iterations = iters,
    data_collection_period = 5,
    max_steps = steps
)

  0%|          | 0/378 [00:00<?, ?it/s]

c:\Users\sdifi\OneDrive - Università Commerciale Luigi Bocconi\Uni_Bocconi\SimulationModeling_2024\Project\.venv\Lib\site-packages\mesa\agent.py:52: FutureWarning: The Mesa Model class was not initialized. In the future, you need to explicitly initialize the Model by calling super().__init__() on initialization.
  self.model.register_agent(self)
c:\Users\sdifi\OneDrive - Università Commerciale Luigi Bocconi\Uni_Bocconi\SimulationModeling_2024\Project\.venv\Lib\site-packages\networkx\algorithms\assortativity\correlation.py:282: RuntimeWarning: invalid value encountered in scalar divide
  r = (t - s) / (1 - s)
C:\Users\sdifi\AppData\Local\Temp\ipykernel_19228\100690070.py:83: RuntimeWarning: invalid value encountered in scalar divide
  self.e = sum_e/sum_weight

In [114]:
br = pd.DataFrame(br)

In [115]:
br

,RunId,iteration,Step,G,mu,s,strategy,quantile,contrast,Assortativity,Average degree,links removed,AgentID,Opinion,Exposition
0,0,0,0,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",0.1,0.01,"[0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, ...",0.3,True,NaN,19.5,[],0,0.000000e+00,0.000000
1,0,0,0,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",0.1,0.01,"[0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, ...",0.3,True,NaN,19.5,[],1,9.999996e-01,0.000000
2,0,0,0,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",0.1,0.01,"[0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, ...",0.3,True,NaN,19.5,[],2,3.556511e-198,0.000000
3,0,0,0,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",0.1,0.01,"[0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, ...",0.3,True,NaN,19.5,[],3,5.732036e-269,0.000000
4,0,0,0,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",0.1,0.01,"[0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, ...",0.3,True,NaN,19.5,[],4,1.000000e+00,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3175195,377,0,100,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",0.9,100.00,"[0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, ...",0.7,False,NaN,19.5,[],284,8.160614e-01,0.000000
3175196,377,0,100,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",0.9,100.00,"[0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, ...",0.7,False,NaN,19.5,[],359,8.521693e-01,0.849581
3175197,377,0,100,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",0.9,100.00,"[0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, ...",0.7,False,NaN,19.5,[],285,8.531961e-01,0.853072
3175198,377,0,100,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",0.9,100.00,"[0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, ...",0.7,False,NaN,19.5,[],32,8.531498e-01,0.852897
3175199,377,0,100,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",0.9,100.00,"[0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, ...",0.7,False,NaN,19.5,[],215,8.531823e-01,0.853059

In [116]:
df = br.copy()
df = df.drop("G", axis = 1)
df["strategy"] = [v[0] for v in df["strategy"]]
df.to_csv("df_ab_n400_k20_v2.csv")

-----

### ER networks - extended model

Here, we use the variant of the model where the external agent can target nodes on the basis of their position quantile.

In [117]:
#ER graphs
seed = 1234
iters = 1
steps = 100
strategies = [[0.5 for i in range(steps + 1)]]
n = 400
k = 20

G = nx.erdos_renyi_graph(n = n, p = k/(n-1), seed = seed)

params = {
    "G": [G],
    "mu": [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
    "s": [1/100, 1/10, 1/2, 1, 5, 10, 100],
    "strategy": strategies,
    "quantile": [0.3, 0.5, 0.7],
    "contrast": [True, False]
    }

br = batch_run(
    iModel2_list,
    params,
    iterations = iters,
    data_collection_period = 5,
    max_steps = steps
)

  0%|          | 0/378 [00:00<?, ?it/s]

c:\Users\sdifi\OneDrive - Università Commerciale Luigi Bocconi\Uni_Bocconi\SimulationModeling_2024\Project\.venv\Lib\site-packages\mesa\agent.py:52: FutureWarning: The Mesa Model class was not initialized. In the future, you need to explicitly initialize the Model by calling super().__init__() on initialization.
  self.model.register_agent(self)
c:\Users\sdifi\OneDrive - Università Commerciale Luigi Bocconi\Uni_Bocconi\SimulationModeling_2024\Project\.venv\Lib\site-packages\networkx\algorithms\assortativity\correlation.py:282: RuntimeWarning: invalid value encountered in scalar divide
  r = (t - s) / (1 - s)
C:\Users\sdifi\AppData\Local\Temp\ipykernel_19228\100690070.py:83: RuntimeWarning: invalid value encountered in scalar divide
  self.e = sum_e/sum_weight

In [118]:
br = pd.DataFrame(br)

In [119]:
br

,RunId,iteration,Step,G,mu,s,strategy,quantile,contrast,Assortativity,Average degree,links removed,AgentID,Opinion,Exposition
0,0,0,0,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",0.1,0.01,"[0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, ...",0.3,True,NaN,20.06,[],0,0.000000e+00,0.000000
1,0,0,0,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",0.1,0.01,"[0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, ...",0.3,True,NaN,20.06,[],1,2.435351e-210,0.000000
2,0,0,0,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",0.1,0.01,"[0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, ...",0.3,True,NaN,20.06,[],2,2.725855e-253,0.000000
3,0,0,0,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",0.1,0.01,"[0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, ...",0.3,True,NaN,20.06,[],3,0.000000e+00,0.000000
4,0,0,0,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",0.1,0.01,"[0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, ...",0.3,True,NaN,20.06,[],4,1.284266e-62,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3175195,377,0,100,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",0.9,100.00,"[0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, ...",0.7,False,NaN,20.06,[],32,8.183470e-01,0.000000
3175196,377,0,100,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",0.9,100.00,"[0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, ...",0.7,False,NaN,20.06,[],149,8.469592e-01,0.846276
3175197,377,0,100,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",0.9,100.00,"[0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, ...",0.7,False,NaN,20.06,[],48,8.472663e-01,0.845422
3175198,377,0,100,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",0.9,100.00,"[0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, ...",0.7,False,NaN,20.06,[],51,8.472112e-01,0.846682
3175199,377,0,100,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",0.9,100.00,"[0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, ...",0.7,False,NaN,20.06,[],366,8.469365e-01,0.846250

In [120]:
df = br.copy()
df = df.drop("G", axis = 1)
df["strategy"] = [v[0] for v in df["strategy"]]
df.to_csv("df_er_n400_k20_v2.csv")

-----